Body {
	Background-color: #990066;
	Margin: 0;
}

#content img.cupcake {
	margin: center;
}

ul{
color: black;
font-family: "DK Jambo";
font-size: 30px;
border: #005ce6;
border-style: solid;
background-color: #00bff3;
text-align: center;
}

li {
display: inline;
}

a{
color: Black;
text-decoration: none;
}
#logo{
width: 16%;
margin-left: auto;
margin-right: auto;
display: block;
}

footer{
	text-align: center;	
}

a:hover {
	background: #ec008c;
}

.button{
background-color: #00bff3;
border: none;
font-family: "DK Jambo";
font-size: 30px;
text-align: center;
-webkit-transition-duration: 0.4s; 
transition-duration: 0.4s;
margin: 0px 841px 0px 841px;
display: block;
margin: auto;
}

.button:hover{
background-color: #ffe6ff;
color: #990066;
}

h1{
	font-family: "DK Jambo";
	text-align: center;
	Color: #000000;
	font-size: 50px;
}
