Body {
	Background-color: #dd99ff;
	Margin: 0;
}

#content img.cupcake {
	margin: center;
}

ul{
color: black;
font-family: "DK Jambo";
font-size: 30px;
border: #005ce6;
border-style: solid;
background-color: #00bff3;
text-align: center;
}

li {
display: inline;
}

a{
color: Black;
text-decoration: none;
}

#logo{
width: 16%;
margin-left: auto;
margin-right: auto;
display: block;
}

footer{
	text-align: center;	
}

.button{
background-color: #00bff3;
border-radius: 45%;
font-family: "DK Jambo";
font-size: 16px;
text-align: center;
-webkit-transition-duration: 0.4s; 
transition-duration: 0.4s;
}

.button:hover{
background-color: #ec008c;
color: white;
}

h1{
	font-family: "DK Jambo";
	text-align: center;
	Color: #ec008c;
	text-decoration: underline;
	font-size: 50px;
}


a:hover {
	background: #ec008c;
}
