body{
	background-color: #dd99ff;
	Margin: 0;
	
}

#content img.cupcake {
	margin: center;
}

ul{
	color: black;
	font-family: "DK Jambo";
	font-size: 30px;
	border: #00bff3;
	border-style: solid;
	background-color: #00bff3;
	text-align: center;
}

li {
	display: inline;
}
a{
	color: Black;
	text-decoration: none;
}


#logo{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 14%;
}
footer{
	text-align: center;
	margin-top: -19px;
}

a:hover {
	background: #ec008c;
}

.button{
    text-align: center;
    background-color: #00bff3;
    border-radius: 40%;
    font-family: "DK Jambo";
    border: none;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-left: 841px;
    margin-right: 841px;
}

.button:hover {
    background-color: #ec008c;
    color: white;
}

h1{
	font-family: "DK Jambo";
	text-align: center;
	Color: #ec008c;
	text-decoration: underline;
	font-size: 50px;
}
