Body {
	Background-color: #dd99ff;
	Margin: 0;
}

#content img.cupcake {
	margin: center;
}

ul{
color: black;
font-family: "DK Jambo";
font-size: 30px;
border: #005ce6;
border-style: solid;
background-color: #00bff3;
text-align: center;
}

li {
display: inline;
}

a{
color: Black;
text-decoration: none;
}

#logo{
width: 16%;
margin-left: auto;
margin-right: auto;
display: block;
}

footer{
	text-align: center;	
}

h1{
	font-family: "DK Jambo";
	text-align: center;
	Color: #ec008c;
	text-decoration: underline;
	font-size: 50px;
}

a:hover {
	background: #ec008c;
}
#create{
 border: black;
 border-style: solid;
 position: absolute;
}
