Body {
	Background-color: #000099;
	Margin: 0;
}

#content img.packaging {
}

ul{
color: black;
font-family: "DK Jambo";
font-size: 30px;
border: #005ce6;
border-style: solid;
background-color: #00bff3;
text-align: center;
}

li {
display: inline;
}

a{
color: Black;
text-decoration: none;
}

#logo{
width: 16%;
margin-left: auto;
margin-right: auto;
display: block;
}

footer{
	text-align: center;	
}
a:hover {
	background: #ec008c;
}

h2{
color: white;
text-align: center;
}
